/* common styles */
ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

/* fonts */
/* font-family: "RobotoRegular"; */
@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/roboto/RobotoRegular/RobotoRegular.eot");
    src: url("../fonts/roboto/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
         url("../fonts/roboto/RobotoRegular/RobotoRegular.woff") format("woff"),
         url("../fonts/roboto/RobotoRegular/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
    font-family: "RobotoLight";
    src: url("../fonts/roboto/RobotoLight/RobotoLight.eot");
    src: url("../fonts/roboto/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
         url("../fonts/roboto/RobotoLight/RobotoLight.woff") format("woff"),
         url("../fonts/roboto/RobotoLight/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
    font-family: "RobotoMedium";
    src: url("../fonts/roboto/RobotoMedium/RobotoMedium.eot");
    src: url("../fonts/roboto/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
         url("../fonts/roboto/RobotoMedium/RobotoMedium.woff") format("woff"),
         url("../fonts/roboto/RobotoMedium/RobotoMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/roboto/RobotoBold/RobotoBold.eot");
    src: url("../fonts/roboto/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
         url("../fonts/roboto/RobotoBold/RobotoBold.woff") format("woff"),
         url("../fonts/roboto/RobotoBold/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'robotothin_italic';
    src: url('../fonts/roboto/RobotoThinitalic/roboto-thinitalic-webfont.eot');
    src: url('../fonts/roboto/RobotoThinitalic/roboto-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/RobotoThinitalic/roboto-thinitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto/RobotoThinitalic/roboto-thinitalic-webfont.woff') format('woff'),
         url('../fonts/roboto/RobotoThinitalic/roboto-thinitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoblack';
    src: url('../fonts/roboto/RobotoBlack/roboto-black-webfont.eot');
    src: url('../fonts/roboto/RobotoBlack/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/RobotoBlack/roboto-black-webfont.woff2') format('woff2'),
         url('../fonts/roboto/RobotoBlack/roboto-black-webfont.woff') format('woff'),
         url('../fonts/roboto/RobotoBlack/roboto-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/* main styles */
.container {
	max-width: 1030px;
}

body {
	background: #ccc;
}

/* ------------------------>>> header <<<----------------------------------------------------- */
.header {
	height: 80px;
	background: #fff;
}

.header__data {
	float: left;
	margin: 14px 0 0;
}

.header__myName {
	font-size: 20px;
	line-height: 22px;
	font-family: "RobotoRegular", sans-serif;
	font-style: normal;
	font-weight: normal;
	margin: 0 0 10px;
}

.header__myProf {
	font-size: 15px;
	line-height: 17px;
	font-family: "RobotoLight";
	font-style: normal;
	font-weight: normal;
}


.header__phoneOrder {
	float: right;
	margin: 23px 0 0;
}

.glyphicon.glyphicon-menu-hamburger {
	display: none;
}



.header__nav {
	margin: 22px 0 0;
	float: right;
}

.header__navList:after {
	display: table;
	content: "";
	clear: both;
}

.header__navItem {
	float: left;
}

.header__navLink {
	display: block;
	font-family: "RobotoRegular", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 16px;
	color: #000;
	padding: 10px 23px;

	-webkit-transition: all .6s ease 0s;
	-moz-transition: all .6s ease 0s;
	-o-transition: all .6s ease 0s;
	transition: all .6s ease 0s;
}

@media ( max-width: 768px ) {

	.header__navList {
		display: none;
	}

	.glyphicon.glyphicon-menu-hamburger {
		display: block;
		font-size: 30px;
		color: #3F3333;
		position: absolute;
		right: 0;
		top: 50%;
	}

	.glyphicon.glyphicon-menu-hamburger:hover {
		cursor: pointer;
	}

	.header__phoneOrder {
		position: relative;
		padding-right: 50px;
	}

	.header__navList {
		position: absolute;
		top: 100px;
		left: 0;
		right: 0;
		z-index: 999;
	}

	.header__navItem {
		float: none;
	}

	.header__navLink {
		text-align: center;
		background: #000;
		border-bottom: 1px solid #fff;
		color: #fff;
		opacity: .8;

		-webkit-transition: all .6s ease 0s;
		-moz-transition: all .6s ease 0s;
		-o-transition: all .6s ease 0s;
		transition: all .6s ease 0s;
	}

	.header__navLink:hover {
		color: #fff;
		background: #2e2b2e;
	}

}

@media ( max-width: 360px ) {

	.header__link {
		float: none;
		text-align: center;
	}

	.header__phoneOrder {
		float: none;
	}

}
/* ------------------------>>> header End <<<------------------------------------------------- */



/* ------------------------>>> profession <<<----------------------------------------------------- */
.profession {
	padding: 200px 0;
	text-align: center;
	color: #3F3333;
	text-transform: uppercase;
	font-size: 30px;
	line-height: 32px;
	font-family: "RobotoBold", sans-serif;
	font-style: normal;
	font-weight: normal;

	background: #000936;
	background: -moz-linear-gradient(top,  #000936 0%, #6c90c9 100%);
	background: -webkit-linear-gradient(top,  #000936 0%,#6c90c9 100%);
	background: linear-gradient(to bottom,  #000936 0%,#6c90c9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000936', endColorstr='#6c90c9',GradientType=0 );
	background-image: url(../img/ComputerScience.jpg);
	background-position: center 0;
	background-repeat: no-repeat;
	background-size: cover;
}

.profession__mainTitle {
	color: #003446;
	-webkit-text-shadow: 0 0 10px #fff;
	-moz-text-shadow: 0 0 10px #fff;
	-o-text-shadow: 0 0 10px #fff;
	text-shadow: 0 0 10px #fff;
}

@media ( max-width: 992px ) {

	.profession {
		font-size: 25px;
		line-height: 27px;
	}

}

@media ( max-width: 768px ) {

	.profession {
		font-size: 20px;
		line-height: 22px;
	}

}

@media ( max-width: 479px ) {

	.profession {
		font-size: 16px !important;
		line-height: 23px !important;
		background-image: none;
		background: #003446;
		background: -moz-linear-gradient(top,  #003446 0%, #7db9e8 100%);
		background: -webkit-linear-gradient(top,  #003446 0%,#7db9e8 100%);
		background: linear-gradient(to bottom,  #003446 0%,#7db9e8 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003446', endColorstr='#7db9e8',GradientType=0 );

		padding: 100px 0;
	}

	.profession__mainTitle {
		color: #fff;
		-webkit-text-shadow: 0 0 10px #000;
		-moz-text-shadow: 0 0 10px #000;
		-o-text-shadow: 0 0 10px #000;
		text-shadow: 0 0 10px #000;
	}

}
/* ------------------------>>> profession End <<<------------------------------------------------- */



/* ------------------------>>> aboutMe <<<----------------------------------------------------- */
.aboutMe {
	padding: 30px 0;
	background: #ebf9ff;
	background: -moz-linear-gradient(top,  #ebf9ff 0%, #ffffff 100%);
	background: -webkit-linear-gradient(top,  #ebf9ff 0%,#ffffff 100%);
	background: linear-gradient(to bottom,  #ebf9ff 0%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf9ff', endColorstr='#ffffff',GradientType=0 );
}

.aboutMe__title {
	font-family: "robotoblack", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	line-height: 37px;
	text-align: center;

	margin: 0 0 30px;
}

.aboutMe__item {
	margin-bottom: 20px;
}

.aboutMe__itemHeader {
	text-align: center;
}

.aboutMe__img {
	width: 100px;
	height: 100px;
	display: inline-block;

	-webkit-transition: all .6s ease 0s;
	-moz-transition: all .6s ease 0s;
	-o-transition: all .6s ease 0s;
	transition: all .6s ease 0s;

	margin: 0 0 20px;
}

.aboutMe__img:hover {
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}

.aboutMe__itemFooter {
	text-align: center;
	min-height: 55px;
}

.aboutMe__subject {
	font-family: "RobotoBold", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 20px;

	margin: 0 0 10px;
}

.aboutMe__skill {
	font-family: "RobotoLight", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
}

@media ( max-width: 479px ) {

	.aboutMe__innerItem {
		width: 100%;
	}

}
/* ------------------------>>> aboutMe End <<<------------------------------------------------- */



/* ------------------------>>> myWorks <<<----------------------------------------------------- */
.myWorks {
	padding: 30px 0;
	background: #000936;
	background: -moz-linear-gradient(top,  #000936 0%, #6c90c9 100%);
	background: -webkit-linear-gradient(top,  #000936 0%,#6c90c9 100%);
	background: linear-gradient(to bottom,  #000936 0%,#6c90c9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000936', endColorstr='#6c90c9',GradientType=0 );
}

.myWorks__title {
	font-family: "robotoblack", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	line-height: 37px;
	text-align: center;
	color: #fafafa;

	margin: 0 0 50px;
}

.myWorks__innerItem {
	margin-bottom: 40px;
}

.myWorks__headerLink {
	display: block;
	text-align: center;
	position: relative;
	height: 100px;

	margin: 0 0 20px;
}

.myWorks__img {
	width: 100px;
	height: 100px;
	display: inline-block;
	background: #fff;

	position: absolute;
	left: 50%;
	margin-left: -50px;

	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-o-border-radius: 50px;
	border-radius: 50px;

	-webkit-transition: all .6s ease 0s;
	-moz-transition: all .6s ease 0s;
	-o-transition: all .6s ease 0s;
	transition: all .6s ease 0s;
}

.myWorks__img:hover {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
	width: 100%;
	height: auto;
	left: 0;
	margin-left: 0;
	z-index: 100;
}

.myWorks__footer {
	text-align: center;
}

.myWorks__footerLink {
	font-family: "RobotoRegular", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 22px;
	color: #fff;
}

.myWorks__footerLink:hover {
	color: #fff;
}

.myWorks__description {
	font-family: "RobotoLight", sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #fff;
}

@media ( max-width: 479px ) {

	.myWorks__innerItem {
		width: 100%;
	}

}
/* ------------------------>>> myWorks End <<<------------------------------------------------- */



/* ------------------------>>> footer <<<----------------------------------------------------- */
.footer {
	height: 80px;
	background: #fff;
}

.footer__data {
	float: left;
	margin: 14px 0 0;
}

.footer__myName {
	font-size: 20px;
	line-height: 22px;
	font-family: "RobotoRegular", sans-serif;
	font-style: normal;
	font-weight: normal;
	margin: 0 0 10px;
}

.footer__myProf {
	font-size: 15px;
	line-height: 17px;
	font-family: "RobotoLight", sans-serif;
	font-style: normal;
	font-weight: normal;
}


.footer__phoneOrder {
	float: right;
	margin: 23px 0 0;
}

.footer .glyphicon.glyphicon-menu-hamburger {
	display: none;
}

.footer__nav {
	margin: 18px 0 0;
	float: right;
}

.footer__navList:after {
	display: table;
	content: "";
	clear: both;
}

.footer__navItem {
	float: left;
	text-align: center;
}

.footer__navLink {
	display: block;
	font-family: "RobotoRegular", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 16px;
	color: #000;
	padding: 10px 23px;

	-webkit-transition: all .6s ease 0s;
	-moz-transition: all .6s ease 0s;
	-o-transition: all .6s ease 0s;
	transition: all .6s ease 0s;
}

@media ( max-width: 992px ) {

	.footer__phoneOrder {
		position: relative;
		padding-right: 50px;
	}

	.footer__data {
		float: none;
		text-align: center;
	}

	.footer__navList {
		position: absolute;
		top: 100px;
		left: 0;
		right: 0;
		z-index: 999;
	}

	.footer__navItem {
		float: none;
	}

	.footer__navLink {
		text-align: center;
		background: #000;
		border-bottom: 1px solid #fff;
		color: #fff;
		opacity: .8;

		-webkit-transition: all .6s ease 0s;
		-moz-transition: all .6s ease 0s;
		-o-transition: all .6s ease 0s;
		transition: all .6s ease 0s;
	}

	.footer__navLink:hover {
		color: #fff;
		background: #2e2b2e;
	}

}
/* ------------------------>>> header End <<<------------------------------------------------- */




